.text {
  @apply text-gray-700 dark:text-gray-400;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: #5b5b5b;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}
